<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
     <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
  ></script> <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"
  />

<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"
  ></script>

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">


  </head>
  <body>
      
     <header class="abouthead" >
          
                        <div class="page-heading bg-light text-center py-3 mb1 black-white">
                            <h1>
                                ABOUT US</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <br>    

<main class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
      <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
          <div class="col-lg-6 ps-lg-0" style="min-height: 400px">
            <div class="position-relative h-100">
              <img
                class="position-absolute img-fluid w-100 h-100"
                src="./images/aboutsmall.jpg"
                style="object-fit: cover"
                alt=""
              />
            </div>
          </div>
          <div
            class="col-lg-6 about-text py-5 wow fadeIn"
            data-wow-delay="0.5s"
          >
            <div class="p-lg-5 pe-lg-0">
              <div class="section-title text-start">
                <h2 class="display-5 mb-4">About Us</h2>
              </div>
              <p class="mb-4 pb-2">
                We are committed to bring neighbors together by allowing them to track movies that they want to share and swap amongst themselves.
              </p>
              <div class="row g-4 mb-4 pb-2">
                <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                  <div class="d-flex align-items-center">
              
                    
                      
                    </main>

<!-- Team Start -->
    <div class="container-xxl">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="page-heading bg-white text-center py-3 mb1 black-white">Team Members</h2>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden position-relative">
                            <img class="img-fluid" src="./images/team1.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-square" href="https://github.com/PatrickFHam"><i class="fab fa-github"></i></a>
                                <a class="btn btn-square" href="https://www.linkedin.com/in/patrickfham"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="text-center border border-5 border-light border-top-0 p-4 bg-light">
                            <h5 class="mb-0">Patrick Ham</h5>
                            <small> Back-End Web Developer</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="overflow-hidden position-relative">
                            <img class="img-fluid" src="./images/team2.jpg" alt="">
                            <div class="team-social">
                                 <a class="btn btn-square" href="https://github.com/emma4jesus"><i class="fab fa-github"></i></a>
                                <a class="btn btn-square" href="https://www.linkedin.com/in/emmanuela-jean-baptiste-8442501a2"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="text-center border border-5 border-light border-top-0 p-4 bg-light">
                            <h5 class="mb-0">Emmanuela Jean-Baptiste</h5>
                            <small>Front-End Web Developer</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item">
                        <div class="overflow-hidden position-relative">
                            <img class="img-fluid" src="./images/team3.jpg" alt="">
                            <div class="team-social">
                                 <a class="btn btn-square" href="https://github.com/jeanieuy"><i class="fab fa-github"></i></a>
                                <a class="btn btn-square" href="https://www.linkedin.com/in/jeanie-uy-54ba36126"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="text-center border border-5 border-light border-top-0 p-4 bg-light">
                            <h5 class="mb-0">Jeanie Uy</h5>
                            <small>Front-End Web Developer</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item">
                        <div class="overflow-hidden position-relative">
                            <img class="img-fluid" src="./images/team4.jpg" alt="">
                            <div class="team-social">
                                 <a class="btn btn-square" href="https://github.com/RMcwey"><i class="fab fa-github"></i></a>
                                <a class="btn btn-square" href="https://www.linkedin.com/in/ross-mcwey-079347168"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="text-center border border-5 border-light border-top-0 p-4 bg-light">
                            <h5 class="mb-0">Ross Mcwey</h5>
                            <small> Back-End Web Developer</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>

