<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
    <h3>This is where a list of borrowed movies will go.</h3>
  </div>
</div>

<div class="row mt-4">

  <div class="col-md-6">

    {{!-- {{#if borrowedmovies.length}} --}}
    <div class="movie-list borrowed-movies">
      <h3>Movies your BORROWING from The Shelf:</h3>

      {{#each borrowedmovies as |borrowedmovie|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/movie/{{borrowedmovie.movie_id}}">{{borrowedmovie.movie_name}}</a></h4>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm btn-danger" data-id="{{borrowedmovie.movie_id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{!-- {{/if}} --}}
  </div>

</div>

<script src="./js/borrowing.js"></script>
