
<div class="text-center d-flex justify-content-center text-align-center col-md-12" id="bannerimage">
  <div class="welcome">
    <h1>Welcome to the Shelf</h1>
    <p>A space where you can share your favorite movies with your Neighbors.</p>
  </div>
</div>