
<div class="text-center d-flex justify-content-center text-align-center col-md-12" id="bannerimage">
  <div class="welcome">
    <h1>Welcome to the Shelf</h1>
    <p>A space where you can share your favorite movies with your Neighbors.</p>
    <div class="landing-page-button-row text-center d-flex justify-content-center text-align-center mx-5 my-5">
      <a href="/profile" type="button" class="btn btn-dark btn-lg">Sign Up / Sign In</a>
      <a href="/theshelf" type="button" class="btn btn-light btn-lg">See what's on The Shelf</a>
    </div>
  </div>
</div>