
<div class="container text-center text-light text-align-center col-md-12" id="bannerimage">
  <div class="content">
    <h1>Welcome to the Shelf</h1>
    <p>A space where you can share your favorite movies with your Neighbors.</p>
  </div>
</div>