* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* back ground color for body of website*/
html,
body {
  background: #e2e5e3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #e2e5e3, #e2e5e3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #e2e5e3, #e2e5e3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

#bannerimage {
  background-image: url(../images/home-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 900px;
  padding: 151px;
  opacity: 89%;
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 600px;
}

header {
  background: rgb(192, 190, 190);
}

.navbar-dark .navbar-brand {
  font-size: 3.5em;
  font-family: 'Pacifico', serif;
  color: white;
}
#bottomimage {
  background-image: url(../images/Movies\ HR.jpeg);
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  /* opacity: 75% */
}

.card {
  opacity: 90%;
  border: 1px solid white;
  float: none;
  margin: 0% auto;
  background-color: transparent;
}

.welcome {
  background-color: darkslategrey;
  color: azure;
  background: rgba(52, 58, 64, 0.8);
  padding: 5px 37px;
  border-radius: 25px;
}

.abouthead {
  background-image: url(../images/aboutus.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
  position: relative;
  height: 30%;
  width: 100%;
  padding-bottom: 300px;
}
.meetteam {
  padding: 5px 37px;
  border-radius: 25px;
}

.hide {
  display: none;
}

/*** Team ***/
.team-item img {
  transition: 0.5s;
}

.team-item:hover img {
  transform: scale(1.1);
}

.team-item .team-social {
  position: absolute;
  width: 38px;
  top: 50%;
  left: -38px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  background: #ffffff;
  transition: 0.6s;
}

.team-item .team-social .btn {
  color: black;
  background: #ffffff;
}

.team-item .team-social .btn:hover {
  color: #ffffff;
  background: gray;
}

.team-item:hover .team-social {
  left: 0;
}

.container-xxl {
  background-color: white;
}

#landing-page-full-body {

}
